body {
    height: 100vh;
}

.card-order-history {
    display: flex;
    justify-content: space-between;
}

.totalprice-history {
    padding-right: 30px;
    color: rgb(89, 255, 0);
}

.div-total-price {
    display: flex;
    align-items: center;
}

.order-continue-payment {
    margin-right: 20px;
}

.no-order {
    margin-top: 50px;
    text-align: center;
}

.ant-space-item {
    width: 100%;
}

.group-button-order {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.review-or-refund {
    display: flex;
    gap: 20px;
}

p.original-price {
    color: orange;
}

p.discount {
    color: blueviolet;
}