.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px;
}
.detailproduct_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.flash-sale-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  flex: 1;
}

.image-section {
  flex: 1;
  text-align: center;
}

.productdetail_img {
  height: 100%;
  width: 500px;
  object-fit: cover;
}

.info-section {
  flex: 2;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.product-subtitle {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  color: #ff9800;
}

.flash-deal {
  background: #ff5722;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.countdown {
  margin-left: 10px;
  font-weight: bold;
}

.price-section {
  font-size: 20px;
  margin: 10px 0;
}

.price-sale {
  color: #e91e63;
  font-weight: bold;
}

.price-original {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

.discount {
  background: #ff9800;
  color: white;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 10px;
}

.option {
  margin: 10px 0;
}

.option-btn {
  background: #eee;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 3px;
}

.option-btn.active {
  background: #ff5722;
  color: white;
}

.quantity {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.quantity button {
  background: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-num {
  padding: 5px 10px;
  border: 1px solid #ddd;
  min-width: 30px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buy-now {
  flex: 1;
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.add-cart {
  flex: 1;
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.driver_container {
  margin-left: 8px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.driver__section {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 10px;
}
.driver__section-image {
  width: 56px;
  height: 56px;
}
.driver_des {
  max-width: 200px;
}
