.topnav_container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.nav__container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navigation link */
.nav-link {
  display: flex;
}

.nav-link a,
.auth-link a {
  text-decoration: none;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-right: 4px;
}

.nav-link a:hover,
.auth-link a:hover {
  background-color: #ffdf8e;
  color: #1b3a57; /* Xanh navy */
  border-radius: 5px;
}

/* Active link */
.nav-link a.active {
  background-color: #ffdf8e;
  color: #1b3a57;
  border-radius: 5px;
}

/* Search box styling */
.search__box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #ffdf8e;
  padding: 3px 10px;
}

.search__box input {
  border: none;
  font-size: 16px;
  outline: none;
  width: 450px;
  margin: 2px !important;
}

.search__box button {
  background: transparent;
  border: none;
  color: #ffdf8e; /* Màu vàng pastel nhẹ */
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: color 0.3s ease, background 0.3s ease;
}

.search__box button:hover {
  color: #c9a74a; /* Vàng đậm hơn một chút */
  background: rgba(255, 223, 142, 0.2); /* Màu vàng pastel mờ nhẹ */
}

/* Auth link (Login/Register) */
.auth-link {
  display: flex;
  gap: 10px;
}
.btn_login,
.btn_register {
  border: 1px solid #ddd;
  border-radius: 10px;
}
