.category-slider {
  width: 100%;
  margin: 20px 0;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.category_title {
  font-weight: 700;
  font-size: 22px;
  color: green;
}
.category-item {
  text-align: center;
  padding: 10px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.category-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.category-title {
  font-size: 14px;
  font-weight: bold;
}

/* Màu của dots */
.ant-carousel .slick-dots li button {
  background-color: yellow !important;
  opacity: 0.5;
}

.ant-carousel .slick-dots .slick-active button {
  background-color: yellow !important;
  opacity: 1;
}
